
<h3>Mot de passe modifié sur Steven For Ever</h3>

<p>Bonjour {{ username }}</p>

<p>Vous avez réinitialisé votre mot de passe. Nous vous confirmons le succès de l'opération</p>

<p>Connectez-vous avec votre nouveau mot de passe à cette <a href="{{ url('security_login') }}">adresse</a>.</p>

<p>A très vite sur le site</p>

<p>L'équipe de Steven For Ever</p>



