
<h3>Mot de passe perdu sur Steven For Ever</h3>

<p>Bonjour {{ username }}</p>

<p>Vous avez perdu votre mot de passe. Nous vous invitons à le réinitialiser à cette <a href="{{ url('security_pwd_reset',{'token':token}) }}">adresse</a>.</p>

<p>A très vite sur le site</p>

<p>L'équipe de Steven For Ever</p>



